<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/themesSpecific.css">
    <link rel="icon" type="image/png" href="../../static/images/bliss-mark-black.png">
    <title>ESP: AI-ML</title>
</head>
<body>
    <header>
        <nav class="nav-container">
            <a class="bliss-logo" href="https://www.theblissgrp.com/"><img src="../../static/images/bliss_logo.png" alt="The Bliss Group logo"/></a>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>

    <div class="head">
        <img src="../../static/thematic-themes/2.svg"/>
    </div>

    <div class="top-posts">
        <div class="title">Top 3 AI/Machine Learning Posts (June 2024)</div>
        <div class="grid">
            <a href="https://www.linkedin.com/feed/update/urn:li:activity:7197941452239216640/" class="post">
                <img src="../../static/images/posts/ai-ml.png" alt="Post 1"/>
            </a>
            <a href="https://www.linkedin.com/feed/update/urn:li:activity:7198338978817720321/" class="post">
                <img src="../../static/images/posts/ai-ml2.png" alt="Post 2"/>
            </a>
            <a href="https://www.linkedin.com/feed/update/urn:li:activity:7181608397945946113/" class="post">
                <img src="../../static/images/posts/ai-ml3.png" alt="Post 3"/>
            </a>
        </div>
    </div>

    <div class="summary-grid">
        <div class="summary-card-1">
            <div class="top">
                Unique Audience Members
            </div>
            <div class="number">
                732
            </div>
        </div>
        <div class="summary-card-2">
            <div class="top">
                Total Unique Posts
            </div>
            <div class="number">
                19171
            </div>
        </div>
        <div class="summary-card-3">
            <div class="top">
                Total Engagements on Selected Audience Posts
            </div>
            <div class="number">
                8788501
            </div>
        </div>
        <div class="summary-card-4">
            <div class="top">
                Average Engagements Per Post
            </div>
            <div class="number">
                458
            </div>
        </div>
    </div>

    <div class="card-grid" id="card-grid">
        <div class="card">
            <div class="card-title">
                Posts vs Engagements
            </div>
            <img src="../../static/images/chart1.svg" alt="Posts vs Engagements Chart"/>
        </div>
        <div class="card">
            <div class="card-title">
                Post Volume Over Time
            </div>
            <img src="../../static/images/chart2.svg" alt="Post Volume Over Time"/>
        </div>
        <div class="card">
            <div class="card-title">
                Posts by Theme
            </div>
            <img src="../../static/images/chart3.svg" alt="Posts by Theme"/>
        </div>
        <div class="card">
            <div class="card-title">
                Subtheme Breakdowns
            </div>
            <img src="../../static/images/chart4.svg" alt="Subtheme Breakdowns"/>
        </div>
        <div class="card">
            <div class="card-title">
                Drilldown on AI
            </div>
            <img src="../../static/images/chart5.svg" alt="Drilldown on AI"/>
        </div>
    </div>

    <div class="r_and_a">
        <a href="mailto:RA@TheBlissGrp.com">
            <img src="../../static/images/r&a.png" alt="Email Us"/>
        </a>
    </div>    
</body>
</html>
